body {
    background-color: brown;
}

h1 { 
    color: white;
    font-family: "playfair Display", serif;
    font-weight: bold;
}

p { 
    color: white;
    font-family: "playfair Display", serif;
    font-weight: normal;
}