h1
h2
h3
h4
h5
h6 {
font-family: "playfair Display", serif; 
font-size: bold;
}

p { 
    font-family:"Poppins", sans-serif;
    font-weight: normal;
}

.hero {
    background-color: #F9F7FE;
    text-align: center;
}

.hero p {
    font-size: 96;
}