:root {
    --brading-color: #6C63FF;
    --heading-font-family: "playfair Display", serif; 
    --default-font-family: "playfair Display", serif; 
    --secondary-color:  #F9F7FE;
}

h1
h2
h3
h4
h5
h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-size: bold;
}

p{
    font-family:"Poppins" , sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px ;
}

.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    color: #272142;
     font-family: "Poppins" , sans-serif;
     font-size: 36px;
     font-weight: bold;
     line-height: 54px;
     margin:0;

}

.hero h2 {
    font-family:"Poppins", sans-serif;
    font-weight: normal;
    font-size: 24px;
    font-weight: bold;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  line-height: 1.5;
    
}

h2 {
  font-size: 64;
  font-weight: bold;

}



.btn-branding {
    background-color: var(--brading-color);
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    gap: 10px;
    border-radius: 4px;   

}



.btn-branding {
    background-color: var(--brading-color);
    border: 1px solid var(--brading-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline {
    background-color: var(--brading-color);
    color:  white;
    border: 1px solid var(--brading-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;   
}

.project-description {
    
    padding:120px 60px;
}
@media (max-width: 900px) {
    h1 {
        font-size: 60px;
        line-height: 1.5;
    }
    h2 {
        font-size: 44;}
    .hero {
        padding: 80px 20px;
    }
    
  .project-description {
    padding: 0;
    text-align: center;
  }
}